html, body { height: 100%; margin: 0; }
#roadmap .row > div { 
  transition: transform 0.3s ease;
}
#roadmap .row > div:nth-child(1) { transform: translateY(0px); }
#roadmap .row > div:nth-child(2) { transform: translateY(-25px); }
#roadmap .row > div:nth-child(3) { transform: translateY(-50px); }
#roadmap .row > div:nth-child(4) { transform: translateY(-25px); }
#roadmap .row > div:nth-child(5) { transform: translateY(0px); }
#roadmap .row > div:nth-child(6) { transform: translateY(25px); }
#roadmap .row > div:nth-child(7) { transform: translateY(50px); }
#roadmap .row > div:nth-child(8) { transform: translateY(25px); }
#roadmap .row > div:nth-child(9) { transform: translateY(0px); }
#roadmap .row > div:nth-child(10) { transform: translateY(-25px); }
#roadmap .row > div:nth-child(11) { transform: translateY(-50px); }
#roadmap .row > div:nth-child(12) { transform: translateY(-25px); }
#roadmap .row > div:nth-child(13) { transform: translateY(0px); }
#roadmap .row > div:nth-child(14) { transform: translateY(25px); }
#roadmap .row > div:nth-child(15) { transform: translateY(50px); }
#roadmap .row > div:nth-child(16) { transform: translateY(25px); }
#roadmap .row > div:nth-child(17) { transform: translateY(0px); }
#roadmap .row > div:nth-child(18) { transform: translateY(-25px); }
#roadmap .row > div:nth-child(19) { transform: translateY(-50px); }
#roadmap .row.col-md-10 {
  display: flex;
  flex-wrap: nowrap; 
  gap: 3rem; 
  align-items: center;
}
#roadmap .row.col-md-10::after {
  content: '';
  position: absolute;
  top: 50%;             
  left: 0%;           
  width: 460rem;          
  height: 1px;          
  background-color: #9ec5fe;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#roadmap .row.col-md-10 > div {
  position: relative;
  z-index: 10;
  background-color: white;
}
li.border-primary-subtle {          
  border-style: solid;            
  transition: border-width 0.3s ease; 
  box-sizing: border-box;
}           
li.border-primary-subtle:hover {
  transform: translateY(-3px);
}
#user-guide {
  position: fixed;
  top: 17vh;
  left: 0;
  transform: translateY(-50%);
}

.circle {
  background: conic-gradient( #9ec5fe 20deg, rgb(255, 255, 255) 0deg);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9ec5fe;
}

.circle::before {
  content: "";
  height: 40px;
  width: 40px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #9ec5fe;
}

.value {
  position: relative;
  font-size: 13px;
  font-family: sans-serif;
}

.category-circle {
  height: 24px;
  width: 24px;
}

.category-circle::before {
  height: 10px;
  width: 10px;
}